<style>
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
</style>
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title"><%- __('index.box') %></h3>
        <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
                <%- paginator({
                    prev_text: '&laquo; ' + __('nav.prev'),
                    next_text: __('nav.next') + ' &raquo;'
                }) %>
            </ul>
        </div>
    </div>

    <div class="box-body">
        <ul class="todo-list ui-sortable">
            <% page.posts.each(function(post) { %>
            <li>
                <!-- drag handle -->
                <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>

                <!-- todo text -->
                <span class="text"><a href="<%- url_for(post.path) %>"><%= post.title %></a></span>
                <small class="label label-<% if(post.label){ %><%- post.label %><% } else { %>default<% } %>" 
                itemprop="datePublished">
                    <i class="fa fa-calendar"></i> <%= date(post.date, null) %>
                </small>
                <small class="label label-default" 
                itemprop="categories">
                    <i class="fa fa-folder"></i>
                    <%- list_categories(post.categories, {
                        show_count: false,
                        class: 'article-category',
                        style: 'none',
                        separator: '<i class="fa fa-angle-right"></i>'
                    }) %>
                </small>
                <small class="label label-default" 
                itemprop="tags">
                    <i class="fa fa-tag"></i>
                    <%- list_tags(post.tags, { show_count: false, style: 'link' }) %>
                </small>
                <div class="tools">
                </div>
            </li>
            <% }); %>
        </ul>
    </div>

    <div class="box-footer clearfix no-border hide">
        <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
    </div>
</div>
