<%- partial('common/layout/head') %>
<body class="<%- theme.customize.layout.skin %> sidebar-mini">
    <div id="container" class="wrapper">
        <%- partial('common/layout/header', null, {cache: !config.relative_link}) %>
        <%- partial('common/layout/mainSidebar', null, {cache: !config.relative_link}) %>
        <%- partial('common/layout/content') %>
        <%- partial('common/layout/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/layout/controlSidebar', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('common/layout/scripts', null, {cache: !config.relative_link}) %>
</body>
</html>
