<%- partial('common/layout/head') %>
<body class="<%- theme.customize.layout.skin %> sidebar-mini">
    <div id="container" class="wrapper">
        <%- partial('common/layout/header') %>
        <%- partial('common/layout/mainSidebar') %>
        <%- partial('common/layout/content') %>
        <%- partial('common/layout/footer') %>
        <%- partial('common/layout/controlSidebar') %>
    </div>
    <%- partial('common/layout/scripts') %>
</body>
</html>
