<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.banner) { %>
            <%- partial('post/banner') %>
        <% } %>
        <%- partial('post/gallery') %>
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
                <div class="article-meta">
                    <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                    <%- partial('post/category') %>
                    <%- partial('post/tag') %>
                </div>
            </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
        <% if (index && post.excerpt) { %>
            <p><%- post.excerpt %></p>
            <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('article.more') %></a>
            </p>
        <% } else { %>
            <% if (!index && post.toc) { %>
                <div id="toc" class="toc-article">
                <strong class="toc-title"><%= __('article.catalogue') %></strong>
                    <%- toc(post.content) %>
                </div>
            <% } %>
            <%- post.content %>
        <% } %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
            <%- partial('comments/counter', { post: post }) %>
        </footer>
    </div>
    <% if (!index) { %>
        <%- partial('post/nav') %>
    <% } %>
</article>

<% if (!index && post.comments){ %>
    <% if (theme.duoshuo.on) { %>
      <%- partial('comments/duoshuo', {
          key: post.path,
          title: post.title,
          url: config.url+url_for(post.path),
          }) %>
    <% } else if (theme.youyan.on) { %>
        <%- partial('comments/youyan') %>
    <% } else if (theme.disqus.on) { %>
        <%- partial('comments/disqus', {
            shortname: theme.disqus.shortname
          }) %>
    <% } else if (config.disqus_shortname) { %>
        <%- partial('comments/disqus', {
            shortname: config.disqus_shortname
          }) %>
    <% } %>
<% } %>

<% if (is_post()){ %>
    <section class="scroll" id="article-nav-button">
        <% if (post.prev){ %>
            <a href="<%- url_for(post.prev.path) %>" title="上一篇">
                <i class="fa fa-angle-left"></i>
            </a>
        <% } else { %>
            <a href="/" title="回到主页"><i class="fa fa-home"></i></a>
        <% } %>

        <a href="/archives" title="文章列表"><i class="fa fa-bars"></i><i class="fa fa-times hide"></i></a>

        <% if (post.next){ %>
            <a href="<%- url_for(post.next.path) %>" title="下一篇">
                <i class="fa fa-angle-right"></i>
            </a>
        <% } else { %>
            <a href="/" title="回到主页"><i class="fa fa-home"></i></a>
        <% } %>
    </section>
    <section class="scroll" id="article-scroll-button">
        <a href="#" title="返回顶部"><i class="fa fa-arrow-up"></i></a>
        <a href="#comments" onclick="if (<%- !theme.preload_comment %>) load$hide(); return" title="查看评论" class="to-comment" style="display: none;"><i class="fa fa-comments-o"></i></a>
        <a href="#footer" title="转到底部"><i class="fa fa-arrow-down"></i></a>
    </section>
<% } %>
