<header id="header" class="main-header">
    <!-- Logo -->
    <a href="<%- url_for() %>" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><%- theme.customize.logo.mini %></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><%- theme.customize.logo.lg %></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="<%- theme.customize.profile.user_image %>" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs"><%- theme.customize.profile.user_name %></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="<%- theme.customize.profile.user_image %>" class="img-circle" alt="User Image">
                            <p>
                                <%- theme.customize.profile.user_title %>
                            </p>
                            <p>
                                <%- theme.customize.profile.user_location %>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                          <nav class="header-nav">
                            <ul class="social">
                                <% for (var i in theme.customize.social_links){ %>
                                    <a class="fa <%= theme.customize.social_links[i].link_icon %> " 
                                    href="<%- url_for(theme.customize.social_links[i].link) %>" 
                                    title="<%= i %>" 
                                    style="background-color: <%= theme.customize.social_links[i].bg_color %> !important"></a>
                                <%}%>
                            </ul>
                          </nav>                           
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="<%- theme.customize.profile.follow %>">Follow</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</header>