<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar -->
  <section class="sidebar">
    <!-- search form (Optional) -->
    <form class="sidebar-form">
      <div id="search-input-group" class="input-group">
          <input type="text" class="form-control" placeholder="<%= __('index.search') %>" />
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
      </div>
    </form>
    <%- partial('search/index') %>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <% for (var i in theme.menu) { %>
        <li><a class="main-nav-link" href="<%- url_for(theme.menu[i].link) %>"><i class="fa <%- theme.menu[i].link_icon %>"></i> <span><%= i %></span></a></li>
      <% } %>
    </ul>
    <!-- /.sidebar-menu -->

  </section>
  <!-- /.sidebar -->

</aside>